/* .container{
  display: flex;
} */

.item1{
    grid-area: footer;
}

.grid-footer {
    display: grid;
    grid-template-areas:'auto auto auto auto ';
    gap: 15px;
    background-color: #fff;
    padding: 10px;

  }

  .grid-footer > div {
    background-color: #4169e1;
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
    color: white;
  }