.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #999966;
}

    .menu-item {
        font-size: 18px;
        color: black;
        text-decoration: underline;
        cursor: pointer;
        margin: 0px;
    }

